.ul{
    list-style: none;
}
.li{
    font-weight: bold;
    padding-bottom: 6px; 
}
.area{
    margin-top: 2.5rem;
    box-shadow: 0 1px 5px rgb(119, 119, 119);
    padding: 2rem;
    padding-left: 1.5rem;
    border-radius: 3px;
}