.banner{
    height: 80%;
    max-width: 1/2;
    padding: 4rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0rem;
}
.text{
    margin-bottom: 0rem;
}
img{
    width: 30vh;
}
